.container{
    max-width: 1200vh;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    background-color: #F5F4F4;
}

.min-height{
    min-height: 75%;
}