.navbar {
    background-color: #080702;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.menubars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

img{
    width: 2.2rem;
    height: 1.6rem;
}

.logomenor{
    background-color: #F3F30A;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
}

.navmenu {
    background-color: #080702;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.navmenu.active {
    left: 0;
    transition: 350ms;
}

.navtext {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 3rem;
}

.navtext a {
    text-decoration: none;
    color: #F5F4F4;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.navtext a:hover {
    background-color: #F3F30A;
    color: #080702;
}

.navmenuitems {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.outlineright{
    margin-left: auto;
    color: #F5F4F4;
}

ul.childrenlist {
    display: none;
    flex-wrap: wrap;
}

/* Estilos para mostrar os children quando o pai estiver em estado de hover*/
li:hover ul.childrenlist{
    background-color: #080702;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    columns: 2;
    column-gap: 10px;
    justify-content: center;
    position: fixed;
    left: 250px;
    transition: 850ms;
    border: 1px solid #F3F30A;
}

.childrenlist{
    columns: 2;
    column-gap: 10px;
}

.navbartoggle {
    display: flex;
    background-color: #080702;
    width: 100%;
    height: 110px;
    justify-content: start;
    align-items: center;
}

svg{
    color: #F5F4F4;
    stroke-width: 4;
    height: 23px;
}

span {
    margin-left: 16px;
}